@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --white: hsl(227, 75%, 14%);
  --bg-primary: linear-gradient(180deg, #EBF2FC 0%, #EEF8F9 100%);
  --bg-theme: hsl(226, 11%, 37%);
  --bg-cards: #ffffff;
  --text-primary: hsl(226, 25%, 17%);
  --text-card-p: hsl(226, 25%, 17%);
  --button-active: hsl(3, 77%, 44%);
  --button-color: hsl(225, 23%, 90%);
  --text-on-button: #fff;
}

body.dark-mode {
  --white: #fff;
  --bg-primary: linear-gradient(180deg, #040918 0%, #091540 100%);
  --bg-theme: hsl(226, 11%, 37%);
  --bg-cards: hsl(226, 25%, 17%);
  --text-primary: hsl(0, 0%, 78%);
  --text-card-p: hsl(0, 0%, 78%);
  --button-active: hsl(3, 86%, 64%);
  --button-color: hsl(225, 23%, 24%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
  font-size: 1rem;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 80%;
  margin: auto;
  background: var(--bg-primary);
}

.header-theme {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-wrap: nowrap;
  height: 7rem;
}
.header-theme__bg {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  flex-wrap: nowrap;
  background: var(--bg-cards);
  width: 100%;
  height: 4rem;
  border-radius: 1rem;
  padding: 0 1rem;
}
.header-theme #theme-toggle {
  padding: 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
}
.header-theme #theme-toggle:hover {
  background: var(--bg-theme);
  transition: all 0.3s ease;
}

main {
  display: flex;
  flex-direction: column;
  padding-bottom: 5rem;
}
main .empty {
  margin: auto;
  color: var(--text-primary);
  font-size: 2rem;
  font-weight: 600;
  display: none;
}
main .empty.active {
  display: flex;
}
main nav {
  height: 6rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  flex-wrap: nowrap;
}
main nav h1 {
  color: var(--text-primary);
  font-size: 2rem;
}
main nav button {
  background: var(--bg-cards);
  color: var(--text-primary);
  border-radius: 1rem;
  border: none;
  padding: 0.4rem 1.1rem;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}
main nav button.active {
  background: var(--button-active);
  color: var(--button-color);
  border: none;
}
main nav button:hover, main nav button:focus {
  background: var(--button-active);
  color: var(--button-color);
  transition: all 0.3s ease;
  border: none;
}
@media (max-width: 768px) {
  main nav {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    flex-wrap: nowrap;
  }
  main nav h1 {
    font-size: 1.5rem;
  }
  main nav button {
    font-size: 0.8rem;
  }
}

.container-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}
.container-cards .card {
  width: 29.5rem;
  height: 15rem;
  border-radius: 1rem;
  background: var(--bg-cards);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.container-cards .card__header {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 1rem;
  color: var(--white);
}
.container-cards .card__header h2 {
  font-size: 1.6rem;
}
.container-cards .card__header p {
  font-size: 1.2rem;
  color: var(--text-card-p);
}
.container-cards .card__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container-cards .card__footer .btn-remove {
  background: var(--bg-cards);
  color: var(--text-card-p);
  border-radius: 2rem;
  border: 0.1rem solid var(--text-card-p);
  padding: 0.4rem 1.1rem;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}
.container-cards .card__footer .btn-remove.active {
  background: var(--button-active);
  color: var(--button-color);
  border: none;
}
.container-cards .card__footer .btn-remove:hover, .container-cards .card__footer .btn-remove:focus {
  background: var(--button-active);
  color: var(--button-color);
  transition: all 0.3s ease;
  border: none;
}
.container-cards .card__footer .button-toggle {
  background: transparent;
  border: none;
}
.container-cards .card__footer .button-toggle i {
  font-size: 2.5rem;
  color: var(--button-active);
  cursor: pointer;
}
@media (max-width: 1238px) {
  .container-cards .card {
    width: 23.5rem;
    height: 13rem;
  }
  .container-cards .card__header h2, .container-cards .card__header p {
    font-size: 0.8rem;
  }
}/*# sourceMappingURL=index.css.map */